<launch>

	<!-- includes RGB-D launch file -->
	<include file = "$(find astra_camera)/launch/astra_pro.launch"/>

	<!-- includes darknet launch file --> 
	<include file ="$(find darknet_ros)/launch/darknet_ros.launch"/> 

	<node name = "depth_square" pkg = "sidewalk" type = "depth_squares.py"/>
	<!-- node name = "yolo_centroids" pkg = "sidewalk" type = "yolo_test2.py"/ -->
	<node name = "yolo_trajectoire" pkg = "sidewalk" type = "trajectoire.py"/>
	<!-- node name = "cluster_RGBD" pkg = "sidewalk" type = "clustering.py"/ -->
	<!-- node name = "depth_slic" pkg = "sidewalk" type = "superpix.py"/ -->
</launch>
